@charset "utf-8";

/* Print */
html{margin-top:20px;overflow:auto;background-color:#efefef}
body, div, table, td, ul, li, dl, dt, dd, input, label, h1, h2, h3, h4, textarea, label{margin:0;padding:0;font-family:"Nanum Gothic";color:#505050}
ul, li, dt, dd{margin:0;padding:0;list-style:none}

div{scrollbar-face-color:#FFFFFF;scrollbar-3dlight-color:#FFFFFF;scrollbar-highlight-color:#FFFFFF;scrollbar-shadow-color:#dbdbdb;scrollbar-darkshadow-color:#FFFFFF;scrollbar-arrow-color:#dbdbdb;scrollbar-track-color:#FFFFFF}

body{padding:0;width:100%;height:100%}
*{box-sizing:border-box;-moz-box-sizing:border-box}

.page{position:relative;top:-39px;width:210mm;height:auto;margin:10mm auto;background:#fff;box-shadow:inset 0 0 1px #777}
.container{padding:0;border:0px #888 dotted;height:auto;margin:0 auto}
li{margin-bottom:2px;text-align:left;line-height:10px}
.header{display:none}

h1{padding:0;border-bottom:3px solid #000;color:#666;font-size:22pxt;line-height:40px;text-align:left}
h1.first{padding-top:0;}

.top-title{padding-left:10px;background-color:#fff;color:#666;border-bottom:1px solid #ccc;font-size:12px}

.depth-h1{border:0 none;border-radius:0;backgrond-color:#fefefe}
.depth-h1 li,
.depth-h2 li{margin-bottom:4px;font-size:11px}
h2{padding-top:10px}

.example{margin-top:10px;margin-bottom:20px;padding:10px 20px;border:1px solid #ccc;background-color:#fff;border-radius:0}
.example li{line-height:16px}
.example.inline{margin-left:14px;background-color:#efefef;border:0 none}
.example ul{padding-top:4px}
a.top,a.bottom{display:none}

@page{size:A4;margin:0}
@media print{
html,body{margin-top:0;width:210mm;height:297mm;background:#fff}
.page{top:0;display:block!important;padding:10mm;margin:0;border:initial;border-radius:initial;width:initial;min-height:initial;box-shadow:initial;background:initial;page-break-after:always}
.container{height:264mm}
}